
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/image/logo.ico">
    <title>ERROR!!!</title>
</head>
<body>
    <div>
        Đã có lỗi xảy ra. Vui lòng kiểm tra lại..!
        <p>@ViewBag.ErrorMessage</p>
    </div>
</body>
</html>