<nav class="navbar navbar-default" style="background-color: #CAB3AE;">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- Phần Logo và Tên -->
        <div class="navbar-header d-flex align-items-center">
            <a class="navbar-brand" href="/">
                <img src="~/image/logoC.png" alt="Logo" style="width: 25px; height: auto; margin-right: 8px;">
            </a>
            <a class="navbar-brand" href="/">
                <span style="color:white">T & T House</span>
            </a>
        </div>

        <!-- Menu -->
        <ul class="nav navbar-nav d-flex align-items-center m-0">
            <li><a href="/NhanVien"><span style="color:white">Employees</span></a></li>
            <li><a href="/KhachHang"><span style="color:white">Customers</span></a></li>
            <li><a href="/SanPham"><span style="color:white">Products</span></a></li>
            <li><a href="/HoaDon"><span style="color:white">Invoices</span></a></li>
            <li><a href="/ChiPhi"><span style="color:white">Expenses</span></a></li>
            <li><a href="/ThongKe"><span style="color:white">Statistics</span></a></li>
            <li><a target="_blank" href="/BaoCaoCuoiNgay"><span style="color:white">End of Day Report</span></a></li>
        </ul>

        <!-- Thông tin nhân viên và Logout -->
        <ul class="nav navbar-nav navbar-right d-flex align-items-center m-0">
            <li><a href="#"><span class="text-primary" style="display:none" id="idnhanvien">@ViewBag.nhanvien.id</span></a></li>
            <li><a href="/NhanVien/ChiTiet?id=@ViewBag.nhanvien.id"><span class="text-primary"><span id="tennhanvien" style="color:white">@ViewBag.nhanvien.hovaten</span></span></a></li>
            <li><a href="/Home/Logout"><span style="color:white">Logout</span></a></li>
        </ul>
    </div>
</nav>
